extends base

block content 
        div(style="width: 32rem;").card-detail
            h2 #{pageTitle} ☕
            br
            hr
            img(src=`${board.imgUrl}` alt="logo" height="300").card-img-top
            div.card-body
                h5.card-title=board.title
                p.card-text=board.content
                a(href="/").btn.btn-primary.margin-right Home
                a(href=`${board.id}/edit`).btn.btn-warning.margin-right Edit
                a(href=`${board.id}/delete`).btn.btn-danger Delete